<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><img src="../../assets/images/NEWLOGO.png" alt=""></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Dashboard</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/post-list">Categories</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/Post">About Us</a></li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/post-edit"></a></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/admin-login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

        </ul>
      </div>
    </div>
  </nav>
