.header-new{
<<<<<<< HEAD
  position: fixed;
=======
    position: absolute;
    z-index: 999;
>>>>>>> origin/temp-branch
    width: 100%;
    margin: 0px;
    opacity: 1;
    
  }

  .subs{
    height: 40px;
  }
  .dropdown-menu{
    background-color: lightgrey;
  }
  
  .navbar-right{
    margin-right: 20px;
  }
  .navbar-nav{
    margin-left: 50px;
  }
  