<div class="header-new">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li><a class="login" routerLink="/admin-login">Login</a></li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Achievements <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="subs" routerLink = "">GOOD JOB</a></li>
          <li><a class="subs" routerLink = "">SK Projects</a></li>
          <li><a class="subs" routerLink = "">Widening</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="subs" routerLink="">--</a></li>
          <li><a class="subs" routerLink = "">--- </a></li>
          <li><a class="subs" routerLink = "">--</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="subs" href = "#content2">--</a></li>
          <li><a class="subs" href = "#content3">--</a></li>
          <li><a class="subs" href = "#content4">---</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
</div>