.body{
    background-image: url("../../../assets/images/bg.gif");
    background-size:cover;  
    background-position: center center;
    min-height: 100vh;
    min-width: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    position: fixed;
    overflow:scroll;
 }

.t{
    float: left;
    margin: 30px;
}
  .card {
    margin: 90px auto;
    width: 200px;
    height: 200px ; 
    border-radius: 25px; 
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: 200px;
    height: 200px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 0px;
    height: 90px;
    width: fit-content auto;
    background-color: grey;
  }
  .p-title{
    font-size: 15px;
    font-weight: bold;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 50px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  
  