<table *ngIf= "imageList">
    <tr *ngFor = "let i of rowIndexArray">
        <td>
            <div class="imagebox">
                <img [src]= "imageList[3*i].imageUrl" class="img-fluid">
                <span class="image-desc">{{imageList[3*i].category}}</span>
                <span class="image-desc">{{imageList[3*i].Title}}</span>
                <span class="image-desc">{{imageList[3*i].author}}</span>
            </div>
        </td>
        <td *ngIf= "imageList[3*i+1]">
            <div class="imagebox">
                <img [src]= "imageList[3*i+1].imageUrl" class="img-fluid">
                <span class="image-desc">{{imageList[3*i+1].category}}</span>
                <span class="image-desc">{{imageList[3*i+1].Title}}</span>
                <span class="image-desc">{{imageList[3*i+1].author}}</span>
            </div>
        </td>
        <td *ngIf= "imageList[3*i+2]">
            <div class="imagebox">
                <img [src]= "imageList[3*i+2].imageUrl" class="img-fluid">
                <span class="image-desc">{{imageList[3*i+2].category}}</span>
                <span class="image-desc">{{imageList[3*i+2].Title}}</span>
                <span class="image-desc">{{imageList[3*i+2].author}}</span>
            </div>
        </td>
    </tr>

</table>







