
<app-header></app-header>
<div class="body" >
<div *ngIf= "imageList"  class="cards-list">
    <div *ngFor = "let i of rowIndexArray">
        <div *ngIf= "imageList[3*i]" (click)="simpleAlert(imageList[3*i].Story,imageList[3*i].Title,imageList[3*i].imageUrl)" class="t">
            <div class="card 1">
                <div class="card_image"> <img [src]= "imageList[3*i].imageUrl" class="img-fluid"> </div>
                <div class="card_title title-white">
                  <p>Catergoy: {{imageList[3*i].category}}</p>
                  <p>Title: {{imageList[3*i].Title}}</p>
                  <p>Author: {{imageList[3*i].author}}</p>
                </div>
              </div>
            </div>
        <div *ngIf= "imageList[3*i+1]" class="t">
            <div (click)="simpleAlert(imageList[3*i+1].Story,imageList[3*i+1].Title,imageList[3*i+1].imageUrl)">
                <div class="card 1">
                    <div class="card_image"> <img [src]= "imageList[3*i+1].imageUrl" class="img-fluid"> </div>
                    <div class="card_title title-white">
                      <p>Category: {{imageList[3*i+1].category}}</p>
                      <p>Title: {{imageList[3*i+1].Title}}</p>
                      <p>Author: {{imageList[3*i+1].author}}</p>
                    </div>
                  </div>
            </div>
        </div>
        <div *ngIf= "imageList[3*i+2]" class="t">
            <div (click)="simpleAlert(imageList[3*i+2].Story,imageList[3*i+2].Title,imageList[3*i+2].imageUrl)">
                <div class="card 1">
                    <div class="card_image"> <img [src]= "imageList[3*i+2].imageUrl" class="img-fluid"> </div>
                    <div class="card_title title-white">
                      <p>Category: {{imageList[3*i+2].category}}</p>
                      <p>Title: {{imageList[3*i+2].Title}}</p>
                      <p>Author: {{imageList[3*i+2].author}}</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>







