<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:15%">
  <a routerLink="/admin-page" class="w3-bar-item w3-button">HOME</a> 
  <a routerLink="/Books/upload" class="w3-bar-item w3-button">ADD BOOKS</a> 
  <a routerLink="/edit-book" class="w3-bar-item w3-button">EDIT BOOK</a> 
  <a routerLink="/delete-book" class="w3-bar-item w3-button">DELETE BOOK</a> 
  <a class="w3-bar-item w3-button" (click)="signOut()"style="margin-top:250%">LOGOUT</a> 
</div>
      
</body>
</html>
