<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="admin-sidenav.component.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxs-book'></i>
      <span class="logo_name">Kid Book Zone</span>
    </div>
      <ul class="nav-links">
        <li>
          <a >
            <i class='bx bxs-home'></i>
            <a routerLink="/admin-page" style="cursor: pointer;">Home</a>
          </a>
        </li>
        <li>
          <a>
            <i class='bx bxs-book-add'></i>
            <a routerLink="/Books/upload" style="cursor: pointer;">Add Books</a>
          </a>
        </li>
        <li>

          <a routerLink="/delete-book">

          <a>

            <i class='bx bxs-trash-alt'></i>
            <a routerLink="/delete-book" style="cursor: pointer;">Delete</a>
          </a>
        </li>
        <li>
          <a >
            <i class='bx bx-reset'></i>
            <a routerLink="/update-pass" style="cursor: pointer;">Reset Password</a>
          </a>
        </li>
        <li>
          <a>
            <i class='bx bxs-comment'></i>
            <a routerLink="/comments" style="cursor: pointer;">Comments</a>
          </a>
        </li>
        <li class="log_out">
          <a>
            <i class='bx bx-log-out'></i>
            <a (click)="signOut()" style="cursor: pointer;">Log out</a>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
    </nav>
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>
</body>
</html>

