<div class="body" >
    <br>
    <br>
    <br>
    <br>
    <br>

    <section class="picture">
        <div class="container-fluid">
            <div class="slider-wrap">
                <div class="slider-main">
                    <div class="items"> 
                        <div class="texts"> Picture </div>
                    </div>
                    <div class="items"> 
                        <div class="texts"> 2 </div>
                    </div>
                    <div class="items"> 
                        <div class="texts"> 3 </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class = "content">
    <div class="title">
        <h1>WELCOME TO KIDS BOOK ZONE</h1></div> 
    <br>
    <br>
    <br>
        <p>We believe that learning is the best way to develop the child reading comprehension and to build knowlegde for the better future.
            We help parents choose the best books for kids and create a quality book collection that will stand the test of time. </p> 
    </footer>  

<br>
<br>

<footer class = "wrapper">
<div class = "footer-content">
<h2> </h2>
</div>
</footer>

</div>
