<div class="body" >
    <br>
    <br>
    <br>
    <footer class = "content">
    <div class="title"><h1>WELCOME TO OUR <span style="color: rgb(5, 45, 57);font-weight: bold;">KIDS BOOK ZONE</span> </h1></div>
        <p>We believe that learning is the best way to develop the child reading comprehension and to build knowlegde for the better future. 
            We help parents choose the best books for kids and create a quality book collection that will stand the test of time. </p> 
    </footer>   
</div>
