<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://cdnjs.cloudeflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1,0">
    </head>
    <body>  

     <div class="container">
     <div class="content">
     <div class="left-side">
     <div class="address details">
     <i class="fas fa-map-markera-lt"></i>
     <div class="topic">Address</div>
     <div class="text-one"></div>
     <div class="text-two"></div>
     </div>
     <div class="Phone details">
     <i class="fas fa-phone-lt"></i>
     <div class="topic">Phone</div>
     <div class="text-one">09957152095</div>
     <div class="text-two"></div>
 </div>
     <div class="email details">
     <i class="fas fa-envelope-lt"></i>
     <div class="topic">Email</div>
     <div class="text-one">koximina86@gmail.com</div>
     <div class="text-two">koximina86@gmail.com</div>
            </div>
                <div class="right-side">
                    <div class="topic-text">Send us a message</div>
                    <p>If you can have question or inquires related to our books, you can send us mesasge from here. Its our pleasure to help you</p>
                </div>
                <form action="#">
                <div class="input-box">
                  <input type="text" placeholder="enter your name">  
                </div>
                <div class="input-box">
                    <input type="text" placeholder="enter your email">  
                  </div>
                  <div class="input-box message-box">
                 <textarea></textarea>  
                  </div>
                  <div class="button">
                    <input type="button" value="Send now">  
                  </div>
                </form>       
            </div>
        </div>
	</div>
      </body>
       </html> 