
<app-header></app-header>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
    <br>
    <br>

    <div class="section">
        <div class="container">
        <div class="container"><br><br><br>

            <div class="title"><h3>Kidz Book Zone</h3></div>
            <div class="p">
                <p>The goal is to encourage vocabulary and language skills, 
                    as well as entertainment,learning experience,subject matter,and social skills. To provide attractive, 
                    well-maintained premises in a good location. 
                    To provide a carefully curated selection of books that will appeal to the local clientele. 
                    Effective stock management is required to ensure the most profitable use of shelf space. 
                    To provide efficient customer service through motivated,
                    happy, and well-informed employees with strong administration and financial management skills.</p>
            </div>
            <div class="title"><h3>Mission</h3></div>
            <div class="mission">
                <p>As part of our mission students who come from communities with a lack of resources will be encouraged to develop a love of reading,
                    improved literacy skills, and support for their social and emotional well-being.</p>
            </div>
            <div class="title"><h3>Vision</h3></div>
            <div class="vision">
                <p>The vision of Read to a Child is to provide every child with the opportunity to succeed in school
                    and in life by providing them with inspirational mentoring and by providing them with read-aloud experiences.</p>
            </div>
            <div class="title"><h3>Values</h3></div>
            <div class="values">
                <p>Read to a Child was founded on the belief that every child deserves to have a caring adult read to them on a regular basis.
                     Our strategy is based on the assumption that a lifelong love of reading is a driver of opportunity for children throughout their lives.
                     A caring relationship with a reading mentor promotes the attention,
                     engagement, and confidence that all children require to thrive.</p>
            </div>  
            <div class="title"><h3>Team</h3></div>
            <div class="Team">
                <ul>
                    <li><a data-toggle="modal" data-target="#myModal"><img src="..//../assets/images/s1.jpg" alt=""><span>Senior Developer, Justin Ceasar Bea</span></a>
                        <ul>
                            <li><a data-toggle="modal" data-target="#myModal1"><img src="..//../assets/images/s2.jpg" alt=""><span>Sofia Marie Bocalig</span></a>
                                <li><a data-toggle="modal" data-target="#myModal2"><img src="..//../assets/images/s3.jpg" alt=""><span>Jude Paje Saberola</span></a>
                                    <li><a data-toggle="modal" data-target="#myModal3"><img src="..//../assets/images/s4.jpg" alt=""><span>Patrick James Berlon</span></a>
                                        <li><a data-toggle="modal" data-target="#myModal4"><img src="..//../assets/images/s5.jpg" alt=""><span>Kimberly Oximina</span></a>
                                            <li><a data-toggle="modal" data-target="#myModal5"><img src="..//../assets/images/s6.jpg" alt=""><span>Christian Emil Nacario</span></a>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div> 









    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Personal Information</h4>
            </div>
            <div class="modal-body">
                 <p>&#9673; Justin Ceasar Bea</p>
                 <p>&#9673; Program Manager</p>
                 <p>&#9673; age of 21</p>
                 <p>&#9673; High School Graduate</p>
                 <p>&#9673; Microsoft Employee</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>


        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">
            
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Personal Information</h4>
                </div>
                <div class="modal-body">
                    <p>&#9673; Sofia Marie Bocalig</p>
                    <p>&#9673; CEO of East West Bank</p>
                    <p>&#9673; age of 22</p>
                    <p>&#9673; High School Graduate</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            
            </div>
        </div>

        <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Personal Information</h4>
                </div>
                <div class="modal-body">
                     <p>&#9673; Jude Paje Saberola</p>
                     <p>&#9673; President of Rabbit Company</p>
                     <p>&#9673; age of 21</p>
                     <p>&#9673; High School Graduate</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>

          <div class="modal fade" id="myModal3" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Personal Information</h4>
                </div>
                <div class="modal-body">
                     <p>&#9673; James Berlon</p>
                     <p>&#9673; Professional Rider</p>
                     <p>&#9673; age of 21</p>
                     <p>&#9673; High School Graduate</p>
                     <p>&#9673; Former Dog Trainer</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>

          <div class="modal fade" id="myModal4" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Personal Information</h4>
                </div>
                <div class="modal-body">
                     <p>&#9673; Kimberly Oximina</p>
                     <p>&#9673; Fashion Model</p>
                     <p>&#9673; age of 21</p>
                     <p>&#9673; High School Graduate</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>

          <div class="modal fade" id="myModal5" role="dialog">
            <div class="modal-dialog">
            
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Personal Information</h4>
                </div>
                <div class="modal-body">
                     <p>&#9673; Christian Emil Nacario</p>
                     <p>&#9673; age of 22</p>
                     <p>&#9673; Professional Rider</p>
                     <p>&#9673; High School Graduate</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
          </div>



