<body>
    <div class="container">
    <header>
        <img src="src/assets/images/logo.png" alt="JC Kidz">
    </header>
<nav>
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">Tweeter</a>
    <a href="#">Youtube</a>
</nav> 

<main>
    <h1>KidzBZ</h1>
    <p> Free Kids Books is a growing library of unique children’s books, literary resources, and textbooks for children and young adults, available online and for download primarily in a user-friendly pdf format.</p>
    <a href="#">Donate</a>
</main>


</div>
</body>