
<h1>ABOUT US</h1>
<body>
    <div class="section">
        <span class="container">
            <div class="content-section">
                <div class="title">
                </div>
                <div class="content">
                    <h3>Kidz Book Zone</h3>
                    <br>
                    <p>The goal is to encourage vocabulary and language skills, 
                        as well as entertainment,learning experience,subject matter,and social skills. To provide attractive, 
                        well-maintained premises in a good location. 
                        To provide a carefully curated selection of books that will appeal to the local clientele. 
                        Effective stock management is required to ensure the most profitable use of shelf space. 
                        To provide efficient customer service through motivated,
                        happy, and well-informed employees with strong administration and financial management skills.</p>
                        <div class="button">
                            <a href="">Read More</a>
                        </div>
                </div>
                </div> 
            </span>
            <span class="image">
                <img src="..//../assets/images/img.1.png" alt="">
            </span>
            
            
        </div>


</body>

