
<div class="bg">
  <br><br><br>
  <div class="card">
      
              </div>
              <label>Category</label>
              <div class="form-group">
                  <select formControlName="category" class="form-control">
                      <option value="Fable" selected>Fable</option>
                      <option value="Sci-fi">Sci-fi</option>
                      <option value="Fantasy">fantasy</option>
                      <option value="Fiction">Fiction</option>
                  </select>
              </div>
              <div class="form-group col-md-6" >
                  <a class="btn btn-primary btn-block float-right"(click)="signOut()" value="Logout" >Logout</a>
              </div>
          </div>
          
              <div class="form-row">
                  <div class="form-grup col-md-6">
                      <button type="submit" class="btn btn-success btn-block float-right">Submit</button>
                  </div>
              </div>