.adminbg{
    min-width: 100vh;
    min-height: 100vw;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #c53522, #1565c0);
    position: fixed;



}

.card{
left: 35%;
top: 25%;
position: fixed;
margin: auto;
}


.box {
    text-align: center;
    display: table;
    border-radius: 20px;
    min-width: 500px;
    width: 500px auto;
    padding: 20px;
    padding-bottom: 10%;
    position: absolute;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    text-align:center;
    justify-content: center;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71
}

.forgot {
    text-decoration: underline
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0
}

ul.social-network li {
    display: inline;
    margin: 0 5px
}
.btn-1 {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    overflow:hidden;
    margin: 0 20px;
    color: white;
  }
  
  .btn-1:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #fff;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
  }
  
  .btn-1:hover:before {
    left:95%;
  }
.row{
    text-align: center;
}
