<!DOCTYPE html>
<html>
<body>

    <div class="center"> 
        <h1>Admin Login</h1>
        <form #admin="ngForm" (ngSubmit)="adminLogin(admin.value)">
        <div class="txt_field">
            <input ngModel type="text" name="username" required> 
            <span></span>
            <label> Username </label>
        </div>
        <div class="txt_field">
            <input ngModel type="password" name="password" required>   
            <span></span>
            <label> Password </label>
        </div>
     <input type="submit" value="Login">
    </form>
     <div class="signup_link">
     </div>
    </div>

</body>
</html>
