
<div class="adminbg">
    <br><div class="btn-1" routerLink="/dashboard">
        Return
      </div>
<div class="container"> 
    <div class="row"> <div class="col-md-6"> 
        <div class="card"> 
            <form onsubmit="event.preventDefault()" class="box" #LoginForm="ngForm" (ngSubmit)="registerUser(LoginForm.value)"> 
            <h1>Login</h1> 
            <p class="text-muted"> Please enter your email and password!</p> 
            <input type="text" ngModel id="email" name="email" placeholder="E-mail"> 
            <input type="password" ngModel id="password" name="password" placeholder="Password"> 
            <a class="forgot text-muted" href="#">request access</a> 
            <input type="submit" id="saveData" name="signup_submit" value="Login" href="#">
            
             </form> </div> </div> </div>
             
</div>
</div> 
