.img{
    min-height: 100vh;
    min-width: 100vh;
    margin: 0; 
    background-size:cover;
    background-image: url(../../assets/images/bgc.jpg);
    text-align: center;
}   
#btn{
    margin-top: 20%;
    border-radius: 5%;
    height: 50px;
    width: 200px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}