<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="toons.component.css">
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="../../assets/images/menu.png" alt="menu" class="menu-icon">
            <img src="../../assets/images/logo1.png" alt="logo" class="logo">
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <input type="text" placeholder="Search">
                <img src="../..//assets/images/search.png" alt="search">
            </div>
            <img src="../../assets/images/voice-search.png" class="mic-icon">
        </div>
        <div class="nav-right flex-div">
            <img src="../../assets/images/upload.png" alt="upload">
            <img src="../../assets/images/more.png" alt="more">
            <img src="../../assets/images/notification.png" alt="notification">
            <img src="../../assets/images/bea.jpg" alt="profile" class="user-icon">
        </div>

    </nav>
        <div class="sidebar">
            <div class="shortcut-links">
                <a href=""><img src="../../assets/images/home.png" alt="home"><p>Home</p></a>
                <a href=""><img src="../../assets/images/explore.png" alt="home"><p>Explore</p></a>
                <a href=""><img src="../../assets/images/subscriprion.png" alt="home"><p>Subscription</p></a>
                <a href=""><img src="../../assets/images/library.png" alt="home"><p>Library</p></a>
                <a href=""><img src="../../assets/images/playlist.png" alt="home"><p>Playlist</p></a>
                <a href=""><img src="../../assets/images/messages.png" alt="home"><p>Messages</p></a>
                <a href=""><img src="../../assets/images/show-more.png" alt="home"><p>Show More</p></a>
                <hr>
            </div>
            <div class="subscribed-list">
                <h3>CHANNELS</h3>
                <a href=""><img src="../../assets/images/paramount.png" alt="home"><p>Paramount Picture</p></a>
                <a href=""><img src="../../assets/images/TWUSA.png" alt="home"><p>Theater Works USA</p></a>
                <a href=""><img src="../../assets/images/disney.png" alt="home"><p>Walt Disney</p></a>
                <a href=""><img src="../../assets/images/appu.png" alt="home"><p>Appu Series</p></a>
                <a href=""><img src="../../assets/images/pbs.png" alt="home"><p>PBS Kids</p></a>
            </div>
        </div>



        <div class="container">
            <div class="banner">
                <img src="../../assets/images/banner.png">
            </div>

            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/clifford.mp4"><img src="../../assets/images/thumbnail1.jpg" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/paramount.png">
                        <div class="vid-info">
                            <a href="../../assets/images/clifford.mp4">Clifford The Big Red Dog</a>
                            <p>Paramount</p>
                            <p>1.5M views &bull; 1 year ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/pete.mp4"><img src="../../assets/images/thumbnail2.jpg" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/TWUSA.png">
                        <div class="vid-info">
                            <a href="../../assets/images/pete.mp4">Pete the Cat</a>
                            <p>TWUSA</p>
                            <p>1.1M views &bull; 5 year ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/cinderella.mp4"><img src="../../assets/images/thumbnail3.jpg" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/disney.png">
                        <div class="vid-info">
                            <a href="../../assets/images/cinderella.mp4">Cinderella</a>
                            <p>Walt Disney</p>
                            <p>1.1B views &bull; 2 year ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/pigs.mp4"><img src="../../assets/images/thumbnail4.jpg" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/appu.png">
                        <div class="vid-info">
                            <a href="../../assets/images/pigs.mp4">The Three Little Pigs</a>
                            <p>Appu Series</p>
                            <p>1M views &bull; 6 year ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/arthur.mp4"><img src="../../assets/images/thumbnail5.png" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/pbs.png">
                        <div class="vid-info">
                            <a href="../../assets/images/arthur.mp4">Arthur</a>
                            <p>PBS</p>
                            <p>1.5M views &bull; 1 year ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/bambi.mp4"><img src="../../assets/images/thumbnail6.jpg" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/disney.png">
                        <div class="vid-info">
                            <a href="../../assets/images/bambi.mp4">Bambi</a>
                            <p>Walt Disney</p>
                            <p>1.5M views &bull; 1 year ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/garfield.mp4"><img src="../../assets/images/thumbnail7.png" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/paramount.png">
                        <div class="vid-info">
                            <a href="../../assets/images/garfield.mp4">Garfield The Movie</a>
                            <p>Paramount</p>
                            <p>1.5M views &bull; 1 year ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-container">
                <div class="vid-list">
                    <a href="../../assets/images/sesame.mp4"><img src="../../assets/images/thumbnail8.jpg" class="thumbnail"></a>
                    <div class="flex-div">
                        <img src="../../assets/images/pbs.png">
                        <div class="vid-info">
                            <a href="../../assets/images/sesame.mp4">Sesame Street</a>
                            <p>PBS</p>
                            <p>1.5M views &bull; 1 year ago</p>
                        </div>
                    </div>
                </div>
            </div>






        </div>

        <script>
            var menuIcon = document.querySelector(".menu-icon");
            var sidebar = document.querySelector(".sidebar");
            var container = document.querySelector(".container");

            menuIcon.onclick = function(){
                sidebar.classList.toggle("small-sidebar");
                container.classList.toggle("large-container");
            }
        </script>
</body>
</html>