.video-holder {
    float: left;
    width: 636px;
}
.video-holder .video-header {
    border-top: 1px solid #B4CC95;
    height: 14px;
    margin: 10px 0 0;
    overflow: auto;
    padding: 5px;
}
.video-holder .video-header .video-type {
    color: #222222;
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.video-holder .video-header .view-legal {
    float: right;
    font-size: 11px;
    text-transform: uppercase;
}
.video-holder .video {
    background-color: #EDEFEC;
    float: left;
    height: 270px;
    outline-style: none;
    width: 480px;
}
.video-holder .video #videoPlayer {
    cursor: pointer;
}
.video-holder .playlist {
    background-color: #EDEFEC;
    border-left: 1px solid #999999;
    border-top: 2px solid #B4CC95;
    float: right;
    min-height: 268px;
    width: 155px;
}
.video-holder .playlist ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.video-holder .playlist a {
    border-bottom: 1px solid #C1BBAE;
    color: #222222;
    display: block;
    font-size: 11px;
    font-weight: bold;
    outline-style: none;
    padding: 4.5px 0 4px 16px;
    text-decoration: none;
}