.body{
    background: linear-gradient(to right, #b92b27, #1565c0);
}
.content{
    position:absolute;
    margin-top: 10%;
    padding-left: 15%;
}
@media all and (max-width: 50px) {
    .content {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
