
<body>
    <div class="header">
        <div class="logo-container">
            <i class="ri-menu-line"></i>
            <div class="logo">
                <div class="logo-img">
                    <img src="..//../assets/images/img.jpg" alt="" style="width: 400%;">
                </div>
                <h1 id="logo-txt">YouTube</h1>
            </div>
        </div>
        <div class="search-container">
            <form action="">
                <input type="text" placeholder="Search">
            </form>
          

        </div>
     
    </div>
    <div class="body-container">
        <div class="sidebar">
            <div class="sidebar-items">
                <a class="sidebar-item"><i class="ri-home-5-line" routerLink="/dashboard"></i>Home</a>
                <a class="sidebar-item"><i class="ri-compass-3-line"></i>Explore</a>
                <a class="sidebar-item"><i class="ri-wireless-charging-line"></i>Shorts</a>
                <a class="sidebar-item"><i class="ri-rss-line"></i>Subscription</a>
                
            </div>

        </div>
        
        <div class="content">
            <div class="chips-wrapper">
                
            </div>
            <div class="video-container">
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/p-5Y8lm6_oY" frameborder="0" allowfullscreen></iframe>
                        </div>
                        
                        <div class="video-details">
                            <div class="detail">
                                <h3 class="title">Wish Upon a Star | Hi-5 - Season 13 Song of the Week | Kids Songs</h3>
                            </div>
                        </div>
                        <div class="hidden-content">
                            <div type="button" class="btn"><i class="ri-time-line"></i>Click Me</div>
                            
                        </div>
                    
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/kuDzMR6k4R4" frameborder="0" allowfullscreen></iframe>
                        </div>
                   
                        <div class="video-details">
                            
                            <div class="detail">
                                <h3 class="title">☀️Good Morning Bebefinn! Wake up Bora | Let's sing together | Nursery Rhymes for kids | Family Song</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/79DijItQXMM" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Dwayne Johnson - You're Welcome (from Moana/Official Video)</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/kQDw88hEr2c" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Kristen Bell, Santino Fontana - Love Is an Open Door (From "Frozen"/Sing-Along)</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                        
                
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/eitDnP0_83k" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Mena Massoud, Naomi Scott - A Whole New World (from Aladdin) (Official Video)</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/TeQ_TTyLGMs" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Do You Want to Build a Snowman? (From "Frozen"/Sing-Along)</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/3Y-pMJ4IcTY" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Trolls (2016) - True Colors Scene (9/10) | Movieclips</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/B_7nWkYLrKI" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">L.O.V.E | Hi-5 - Season 13 Song of the Week | Kids Songs</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/W0poVpxdUgA" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Underwater Discovery | Hi-5 - Season 13 Song of the Week | Kids Songss</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/6G85-7mdy9I  " frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">WOW! | Hi-5 - Season 13 Song of the Week | Kids Songs</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/t0Q2otsqC4I" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Tom & Jerry | Tom & Jerry in Full Screen | Classic Cartoon Compilation | WB Kids</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="video-content-cover">
                    <div class="video-content">
                        <div data-aspect-ratio="16:9">
                            <iframe src="https://www.youtube.com/embed/isFkFWxu21c" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="video-details">
                           
                            <div class="detail">
                                <h3 class="title">Tom and Jerry - The Invisible Mouse</h3>
                              

                            </div>
                        </div>
                      
                    </div>
                </div>
                </div>
            </div>
        </div>
   
</body>