<app-header></app-header>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Donation</title>
        <link rel="stylesheet" href="donate.component.css">
    </head>
    
    <body>
        <div class="image">
            <img src="..//../assets/images/kids.png" alt="">
            </div>
        <div id="content">
            <div class="container">
               <marquee behavior="" direction="Raising"> <div class="text">
                   <div><h1>Raising Hope. To help brighten child's FUTURE</h1></div>
                </div></marquee>
                <div class="content-post">
                    <h1>Help brighten a child's Future</h1>
                    <h2>Why Donate?</h2>
                    <p class="section-one"> This pandemic has forced over 6 million children to drop off from school.
                        contribution can help them reshope their lives by providing for their education.
                    </p>
                    <p class="section-two"> We help them get access to learning materials, internist, connectivity, 
                        laptops, and smartphones to keep the learning alive!
                    </p>
                    <button class="button" data-toggle="modal" data-target="#myModal"><span>Donate Now!</span></button>
<!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Payment Methods</h4>
        </div>
        <div class="modal-body">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="V7E299NH9JGC2">
                <table>
                <tr><td><input type="hidden" name="on0" value="Donation Amount">Donation Amount</td></tr><tr><td><select name="os0">
                    <option value="$10">$10 </option>
                    <option value="$50">$50 </option>
                    <option value="$100">$100 </option>
                    <option value="$200">$200 </option>
                    <option value="$500">$500 </option>
                </select> </td></tr>
                <tr><td><input type="hidden" name="on1" value="Frequency">Frequency</td></tr><tr><td><select name="os1">
                    <option value="Weekly">Weekly </option>
                    <option value="Monthly">Monthly </option>
                    <option value="Yearly">Yearly </option>
                </select> </td></tr>
                <tr><td><input type="hidden" name="on2" value="Direct Donation">Direct Donation</td></tr><tr><td><select name="os2">
                    <option value="General Purposes">General Purposes </option>
                    <option value="Youth Programs">Youth Programs </option>
                    <option value="Audult Programs">Audult Programs </option>
                    <option value="Specific Use">Specific Use </option>
                </select> </td></tr>
                </table>
                <input type="image" src="https://www.paypalobjects.com/en_AU/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
                </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>